
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySeguimientoLabel" translate="soundxtream3App.seguimiento.home.createOrEditLabel">Create or edit a Seguimiento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.seguimiento.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.seguimiento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="soundxtream3App.seguimiento.followingDate" for="field_followingDate">Following Date</label>
                <div class="input-group">
                    <input id="field_followingDate" type="text" class="form-control" name="followingDate" datetime-picker="{{dateformat}}" ng-model="vm.seguimiento.followingDate" is-open="vm.datePickerOpenStatus.followingDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('followingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="soundxtream3App.seguimiento.following" for="field_following">Following</label>
            <input type="checkbox" class="form-control" name="following" id="field_following"
                    ng-model="vm.seguimiento.following"
                     />
        </div>

        <div class="form-group">
            <label translate="soundxtream3App.seguimiento.follower" for="field_follower">Follower</label>
            <select class="form-control" id="field_follower" name="follower" ng-model="vm.seguimiento.follower" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="soundxtream3App.seguimiento.followed" for="field_followed">Followed</label>
            <select class="form-control" id="field_followed" name="followed" ng-model="vm.seguimiento.followed" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
