<div>
    <h2 translate="soundxtream3App.playlist.home.title">Playlists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="playlist.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="soundxtream3App.playlist.home.createLabel">
                        Create new Playlist
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'soundxtream3App.playlist.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="soundxtream3App.playlist.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="soundxtream3App.playlist.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span translate="soundxtream3App.playlist.duration">Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="artwork"><span translate="soundxtream3App.playlist.artwork">Artwork</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="visual"><span translate="soundxtream3App.playlist.visual">Visual</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateCreated"><span translate="soundxtream3App.playlist.dateCreated">Date Created</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="soundxtream3App.playlist.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="playlist in vm.playlists track by playlist.id">
                    <td><a ui-sref="playlist-detail({id:playlist.id})">{{playlist.id}}</a></td>
                    <td>{{playlist.name}}</td>
                    <td>{{playlist.description}}</td>
                    <td>{{playlist.duration}}</td>
                    <td>{{playlist.artwork}}</td>
                    <td>{{playlist.visual}}</td>
                    <td>{{playlist.dateCreated | date:'medium'}}</td>
                    <td>
                        {{playlist.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="playlist-detail({id:playlist.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="playlist.edit({id:playlist.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="playlist.delete({id:playlist.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
