<div>
    <h2 translate="soundxtream3App.track.home.title">Tracks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="track.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="soundxtream3App.track.home.createLabel">
                        Create new Track
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'soundxtream3App.track.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="soundxtream3App.track.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="label"><span translate="soundxtream3App.track.label">Label</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="buy_url"><span translate="soundxtream3App.track.buy_url">Buy Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="artwork"><span translate="soundxtream3App.track.artwork">Artwork</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="visual"><span translate="soundxtream3App.track.visual">Visual</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tags"><span translate="soundxtream3App.track.tags">Tags</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_upload"><span translate="soundxtream3App.track.date_upload">Date Upload</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="soundxtream3App.track.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location_track"><span translate="soundxtream3App.track.location_track">Location Track</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span translate="soundxtream3App.track.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accessUrl"><span translate="soundxtream3App.track.accessUrl">Access Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="soundxtream3App.track.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="track in vm.tracks track by track.id">
                    <td><a ui-sref="track-detail({id:track.id})">{{track.id}}</a></td>
                    <td>{{track.name}}</td>
                    <td>{{track.label}}</td>
                    <td>{{track.buy_url}}</td>
                    <td>{{track.artwork}}</td>
                    <td>{{track.visual}}</td>
                    <td>{{track.tags}}</td>
                    <td>{{track.date_upload | date:'medium'}}</td>
                    <td>{{track.description}}</td>
                    <td>{{track.location_track}}</td>
                    <td translate="{{'soundxtream3App.TypeTrack.' + track.type}}">{{track.type}}</td>
                    <td>{{track.accessUrl}}</td>
                    <td>
                        {{track.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="track-detail({id:track.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="track.edit({id:track.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="track.delete({id:track.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
